section.memory-cards-grid {
  header {
    display: flex;
    justify-content: space-between;
    gap: 16px;
    margin-bottom: 16px;

    .game-control-buttons {
      display: flex;
      align-items: center;
      gap: 16px;

      button {
        text-wrap: nowrap;
      }
    }
  }
}

@media screen and (width < 600px) {
  section.memory-cards-grid {
    header {
      display: flex;
      flex-direction: column;
      gap: 0;
      margin-bottom: 36px;

      h2 {
        margin-top: 0;
        margin-bottom: 16px;
      }
    }
  }
}
