.cards-container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 36px;
}

section.memory-cards-grid {
  header {
    display: flex;
    justify-content: start;
    gap: 24px;

    .left-button {
      margin-left: auto;
    }
  }
}
