.overlay {
  box-sizing: border-box;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  padding-left: 16px;
  padding-right: 16px;
  background-color: #242424bb;

  display: flex;
  justify-content: center;
  align-items: center;

  .overlay-content {
    p {
      font-size: 40px;
      font-weight: bold;
      text-align: center;
      margin-top: 0;
      margin-bottom: 24px;
    }

    .overlay-buttons {
      display: flex;
      justify-content: center;
      gap: 16px;

      button {
        font-size: 24px;
      }
    }
  }
}

.overlay.victory {
  background: linear-gradient(130deg, #bc6137a0, #9a0ec0a0);
  background-size: 100% 400%;
  transform: translateY(0);

  animation: gradient 3.5s linear infinite,
    scaling 1.75s ease alternate infinite;

  p {
    font-size: 68px;
  }
}

@keyframes gradient {
  0% {
    background-position: 99% 0%;
  }
  50% {
    background-position: 2% 100%;
  }
  100% {
    background-position: 99% 0%;
  }
}

@keyframes scaling {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.05);
  }
}

@media screen and (width < 600px) {
  .overlay.victory {
    p {
      font-size: 48px;
    }
  }

  .overlay .overlay-content .overlay-buttons button {
    font-size: 20px;
    width: min-content;
  }
}
