#root {
  max-width: 1048px;
  margin: 0 auto;
  padding: 2rem;
  width: 100%;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 160px;
  margin-bottom: 24px;
}
